
<header class="py-10 grid place-items-center">
    <div class="flex flex-col max-w-[80%] h-[80vh] p-8 items-center justify-center text-center gap-8 bg-stone-700 text-blue-100 rounded-4xl">
        <h1 class="font-bold text-6xl">Innovate-X 2025</h1>
    <p>Join us for four days of learning, networking, and fun at the Tech Meetup 2024. The main event kicks off on day one, followed by three days of beginner-friendly lessons.</p>
        <p>Don't miss out on the opportunity to connect with industry leaders and fellow tech enthusiasts!</p>
            <a href="/register" class="flex items-center px-6 py-3 rounded-xl bg-blue-600 text-white font-bold">
                Register Now
            </a>
    </div>
</header>