<header class="section-card grid place-items-center">
  <div
    class="flex flex-col w-full md:max-w-[80%] md:h-[80vh] mt-16 p-4 md:p-8 sm:items-center sm:justify-center sm:text-center gap-4 md:gap-8 md:bg-stone-700 md:text-blue-100 rounded-4xl"
  >
    <h1 class="font-bold text-2xl sm:text-3xl md:text-6xl">Innovate-X 2025</h1>
    <p class="text-xs sm:text-sm md:text-base">
      Join us for four days of learning, networking, and fun at the Tech Meetup
      2024. The main event kicks off on day one, followed by three days of
      beginner-friendly lessons.
    </p>
    <p class="text-xs sm:text-sm md:text-base">
      Don't miss out on the opportunity to connect with industry leaders and
      fellow tech enthusiasts!
    </p>
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLScuyeHDfdZMtVWemj1b5SljjhxB1dPHjIIJecJ3Mw3U0MVZNg/viewform?usp=sharing&ouid=101309478087224577359"
      target="_blank"
      class="px-4 sm:px-6 py-2 sm:py-3 text-sm sm:text-base rounded-xl w-fit bg-blue-600 text-white font-bold"
    >
      Register Now
    </a>
  </div>
</header>
