---
import { navData } from "../../assets/data/navData";
const logoData = navData[0];
---

<script>
  let isOpen = false;
  const toggleMenuBtn = document.querySelector("#toggleMenuBtn");
  const menu = document.querySelector("#mobile-menu");

  if (toggleMenuBtn) {
    toggleMenuBtn.addEventListener("click", toggleMenu);
  }

  // Close nav when a link is clicked
  document.querySelectorAll("[data-close-nav]").forEach((link) => {
    link.addEventListener("click", () => {
      if (menu) {
        menu.classList.add("hidden");
      }
    });
  });

  // Function to toggle the mobile menu visibility
  function toggleMenu() {
    isOpen = !isOpen;
    if (menu) {
      menu.classList.toggle("hidden");
    }
  }
</script>

<nav
  class="fixed top-0 left-0 w-full z-50 bg-white border-b border-gray-200 px-4 py-3 md:hidden"
>
  <div class="flex items-center justify-between">
    <h1 class="text-xl font-bold">Innovate-X</h1>
    <button id="toggleMenuBtn" class="text-gray-700 focus:outline-none">
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>
  <div id="mobile-menu" class="mt-3 hidden flex-col gap-2">
    {
      navData.slice(1, -1).map((item) => (
        <a
          data-close-nav
          href={item.href}
          class="block px-4 py-2 rounded hover:bg-gray-100"
        >
          {item.title}
        </a>
      ))
    }
    <a
      href={navData[navData.length - 1].href}
      target="_blank"
      data-close-nav
      class="flex items-center px-4 py-2 rounded-xl bg-blue-600 text-white font-bold"
    >
      {navData[navData.length - 1].title}
    </a>
  </div>
</nav>
