---
import ScheduleItem from "../Schedule/ScheduleItem.astro";
import { scheduleData } from "../../assets/data/scheduleData";
---

<section class="section-card">
  <h2 class="text-xl sm:text-2xl font-bold mb-6 sm:mb-8">Schedule</h2>

  <div class="">
    {
      scheduleData.map((item, index) => (
        <ScheduleItem showLine={index !== scheduleData.length - 1} {...item} />
      ))
    }
  </div>
</section>
